<div class="container" *ngIf="myData"> 

    <div>
        <h1>Name - <span style="color: blue;">{{myData.name}}</span></h1>
    </div>
<br>
    <div>
       <h4>Age -  <span style="color: red;">{{myData.age}}</span> </h4>
    </div>

    <div>
        <h4>Email - <span style="color: red;">{{myData.email}}</span> </h4>
    </div>

    <div>
        <h4>Phone - <span style="color: red;">{{myData.phone}}</span> </h4>
    </div>

    <div>
        <h4>location - <span style="color: red;">{{myData.location}}</span> </h4>
    </div>

    <div>
        <h4>Education - <span style="color: red;">{{myData.education}}</span> </h4>
    </div>

    <div>
        <h4>Skills - <span style="color: green;">{{myData.skills}}</span> </h4>
    </div>

  
   
</div>
