<div *ngIf="arr">

    <form [formGroup]="formValue" (ngSubmit)="onSubmit()">
        
        <div class="formControl">
            <label for="nm">Name</label><br>
            <input type="text" name="name" id="nm" formControlName="name">
        </div>
        <div class="formControl">
            <label for="age">Age</label><br>
            <input type="num" name="age" id="age" formControlName="age">
        </div>
        <div class="formControl">
            <label for="ed">Education</label><br>
            <input type="text" name="edu" id="ed" formControlName="education">
        </div>
        <div class="formControl">
            <label for="loc">Phone</label><br>
            <input type="text" name="loc" id="ph" formControlName="phone">
        </div>
        <div class="formControl">
            <label for="ph">Location</label><br>
            <input type="text" name="phone" id="loc" formControlName="location">
        </div>
        <div class="formControl">
            <label for="sk">Skills</label><br>
            <input type="text" name="skill" id="sk" formControlName="skills">
        </div>
        <div class="formControl">
            <label for="em">Email</label><br>
            <input type="email" name="email" id="em" formControlName="email">
        </div>
        <div class="formControl">
            <label for="pass">Password</label><br>
            <input type="password" name="pass" id="pass" formControlName="password">
        </div>
        
        <div class="formControl sub">
            <button type="submit" [disabled]="!formValue.valid">Update</button>
            
        </div>
    </form>
    <br>
    <div>
        Want to Logout ? <button (click)="logout()">Logout</button>
    </div>
    <br>
    <div>
        Delete Account Parmentantly <button (click)="delete()">Delete</button>
    </div>
    <br>
    <br>
    <br>

</div>
